/* @font-face {
    font-family: 'myFirstFont';
    src: url('/Fonts/RADIOLAND.TTF');
} */
@font-face {
    font-family: 'myFirstFont';
    src: url('/Fonts/digital-7.ttf');
}
h1{
    margin: 0;
    padding: 0;
    font-family: myFirstFont;
    font-size: 8rem;
    line-height: 1;
    /* color: rgb(255, 21, 21); */
    color: rgb(240, 0, 0);
    /* text-shadow:
        0 0 0px rgb(255, 9, 9),
        0 0 1px rgb(255, 15, 15),
        0 0 1px rgb(255, 87, 87); */
        margin: 10px;
    }
    .bg{
    background-color: rgb(39, 38, 38);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.bg{
    box-shadow: inset 1px 2px 0px 0px #333131;
    width: 200px;
}
.D-G{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    /* box-shadow: 1px 0px 4px 5px rgb(241 226 226); */
    
}
/* .G-D{
    
    padding: 10px 10px;
    
}  */
/* .bg:hover{
    background: rgb(243, 199, 199);
    color: rgb(3, 8, 24);
} */
@media (max-width:800px){
   .D-G{
       flex-direction: column;
   }
   .colon{
       display: none;
   }
}